.posts-section {
	.posts-center {
		.posts-container {
			display: flex;

			.section-2 {
				max-width: 700px;
				width: 100%;
				background: #fff;
				margin-right: 1rem;
				border: 1px solid #e6ecf0;
			}

			.section-3 {
				background: greenyellow;
				flex: 1;
				border: 1px solid #e6ecf0;
			}
		}
	}
}
