.post-item {
	border-bottom: 1px solid #f2f2f3;

	&:hover {
		background: #f2f2f363;
  }
  
    .post-info {
      padding: 1rem;
      width: 100%;
      
      .highlight {
        letter-spacing: .03rem;
        color: #807d7d;
        font-weight: 500;
        font-size: .75rem;
        font-style: italic;
      }

			.post-text {
				padding: .7rem 0;
				display: inline-block;
        width: 100%;
        white-space: pre-line;
        word-wrap: break-word;
			}

			.post-action {
        display: flex;
        align-items: center;
		  }
	}
}

.center-verticaly {
  display: flex;
  align-items: center;
}

.been-there {
  background: #3037ed;
  color: #fff;
  font-weight: 700;
  font-size: .8rem;
  text-transform: capitalize;
  padding: .5rem 1rem;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  line-height: 1.5;
  letter-spacing: .03rem;
}

.comment-btn {
margin-left: 1rem;
text-transform: capitalize;
cursor: pointer;
letter-spacing: .03rem;
color: rgb(128, 125, 125);
font-weight: 500;
font-size: .8rem;
}