.post-item {
	border-bottom: 1px solid #f2f2f3;

	&:hover {
		background: #f2f2f363;
	}

	.post-container {
		padding: 1rem;
		display: flex;
		.img {
			img {
				width: 43px;
				height: 43px;
				display: block;
				border-radius: 50%;
			}
		}

		.post-info {
			width: 100%;
			margin-left: .8rem;
			.user-info {
				display: flex;
				justify-content: space-between;
				align-items: center;
				.extra {
					display: flex;

					.extra-option {
						width: 15px;
						height: 15px;
						color: #999;
						cursor: pointer;
						margin-left: .8rem;
					}

					p {
						line-height: 0.9;
						font-size: .9rem;
						color: #999;
						font-weight: 500;
					}
				}
			}

			.post-text {
				padding: .7rem 0;
				display: inline-block;
				width: 100%;
			}

			.post-action {
				display: flex;

				.been-there {
					button {
						background: #3037ed;
						color: #fff;
						font-weight: 700;
						font-size: .8rem;
						text-transform: uppercase;
						padding: .5rem 1rem;
						border: 0;
						cursor: pointer;
						border-radius: 5px;
						line-height: 1.5;
						letter-spacing: .03rem;
					}
				}

				.comment-btn {
					display: flex;
					margin-left: 1rem;
					justify-content: center;
					align-items: center;
					background: #fff;
					text-transform: capitalize;
					cursor: pointer;
					border-radius: 20px;
					line-height: 1.5;
					letter-spacing: .03rem;

					span {
						color: rgb(128, 125, 125);
						font-weight: 500;
						font-size: .8rem;
						margin-left: .5rem;
					}
				}
			}
		}
	}
}
