.post-item {
	border-bottom: 1px solid #f2f2f3;

	&:hover {
		background: #f2f2f363;
	}

	.post-container {
		padding: 1rem;
		display: flex;
		.img {
			img {
				width: 43px;
				height: 43px;
				display: block;
				border-radius: 50%;
			}
		}

		.post-info {
			width: 100%;
			margin-left: .8rem;

			.post-text {
				padding: .7rem 0;
				display: inline-block;
				width: 100%;
			}

			.post-action {
        display: flex;
        align-items: center;

				.been-there {
						background: #3037ed;
						color: #fff;
						font-weight: 700;
						font-size: .8rem;
						text-transform: uppercase;
						padding: .5rem 1rem;
						border: 0;
						cursor: pointer;
						border-radius: 5px;
						line-height: 1.5;
						letter-spacing: .03rem;
				}

				.comment-btn {
					margin-left: 1rem;
					text-transform: capitalize;
					cursor: pointer;
					letter-spacing: .03rem;
          color: rgb(128, 125, 125);
          font-weight: 500;
          font-size: .8rem;
			}
		}
	}
  }
}